@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300&family=PT+Sans&family=Ubuntu&display=swap');

html,body{
  overflow-x: hidden;
}

body{
  background-color: #faffb7;
  color: #1a1a1a;
  font-family: 'PT Sans', sans-serif;
}

#home{
  background-color: #faffb7;
}
section{
  padding-bottom: 30px;
}

body p{
  font-size: 18px;
}

h4{
  font-size: 20px;
}

h2{
  font-family: 'Ubuntu', sans-serif;
}

#header{
  background-image: url("../img/image-holder.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* background-color: white; */
  height: 400px;
  bottom: 20px;
  position: relative;
  font-size: 20px;
  color: #b8b606;
}

#headerCarousel{
  position: absolute;
  /* bottom: 385px; */
  right: 0px;
  z-index: -1;
}

#myCarousel .item{
  height: 400px;
  width: 970px;
}

a{
  color: black;
}

ul.nav a:hover{
  color: white;
  background-color: #d8db27;
  border-radius: 20px;
}

#logo{
  height: 30px;
  width: 30px;
}

#title, #slogan{
  position: relative;
  top: 120px;
  left: 60px;
}

#title{
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
}

#slogan{
  font-family: 'Dosis', sans-serif;
}

.navbar .container{
  position: relative;
  top: 230px;
  border-bottom: 2px solid #d8db27;
  /* background-color:#faffb7; */
}

#myNavbar{
  display: none;
  width: 100%;
}

#comNav{
  display: block;
}

#about, #getInvolved{
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 30px;
}

.indent{
  text-indent: 50px;
}

#getInvolved button{
  width: 48%;
  padding: 12px;
  margin: 10px;
  border: 10px solid;
  border-radius: 30px;
  border-color: #faffb7;
  background-color: transparent;
  font-size: 15px;
}

#getInvolved button:hover{
  background-color: #faffb7;
}

/* meet the team */
.team p{
  text-align: center;
}

.col-md-1{
  /* margin-left: 30px;
  margin-right: 30px; */
  width: 180px;
}

.col-md-1 p{
  margin-top: 10px;
  font-size: 17px;
}

.team img {
  border-radius: 50%;
  width: 145px !important;
  height: 145px;
}

#team2{
  /* margin-left: 60px; */
  margin-top: 15px;
}

.position{
  color: #b5b50e;
}

.eventTitle{
  border-bottom: 5px #abb017 solid;
}

#eventLogo{
  height: 300px;
}

#footer{
  height: 100px;
  background-color: black;
  color: white;
}

#footer .container{
  padding-top: 30px;
}

@media only screen and (max-width: 1000px) {
  #header {
    background-image: none;
  }

  #myCarousel .item{
    height: 400px;
    width: 100%;
  }

  #myNavbar{
    display: block;
  }

  #comNav{
    display: none;
  }
}
